# VS Code
.vscode/*

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

#SQLite
data/*.sqlite

# EDA Data files
**/training/data/*

# Serverless
.serverless

# Node JS
node_modules

# Python Cache
__pycache__

# Sphynx
build
make.bat
Makefile